:root {
  --negro: #050505;
  --negro2: #111111;
  --amarillo: #ffcc00;
  --blanco: #ffffff;
  --gris: #8b949e;
  --borde: #332900;
    --fuente-mono: 'Share Tech Mono', monospace;
  --fuente-main: 'Exo 2', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--negro);
  color: var(--blanco);
  font-family: var(--fuente-main);
  font-weight: 300;
  line-height: 1.7;
}
#encabezado {
  text-align: center;
  padding: 70px 20px 50px;
  border-bottom: 1px solid var(--borde);
}
#logo-principal {
  display: block;
  margin: 0 auto 20px auto;
}
h1 {
  font-size: 46px;
  font-weight: 800;
  color: var(--blanco);
  margin: 0;
}
.resalto-amarillo {
  color: var(--amarillo);
  text-shadow: 0 0 10px rgba(255, 204, 0, 0.3);
}
.subtitulo {
  color: var(--gris);
  font-size: 17px;
  margin-top: 14px;
}
#navegacion {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 14px 20px;
  background-color: var(--negro2);
  border-bottom: 1px solid var(--borde);
    position: sticky;
  top: 0;
  z-index: 100;
}
#navegacion a {
  font-family: var(--fuente-mono);
  font-size: 20px;
  color: var(--gris);
  padding: 7px 14px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.2s;
}
#navegacion a:hover {
  color: var(--amarillo);
  border-color: var(--borde);
}
.seccion-contenido {
  padding: 60px 10%;
}
.mini-etiqueta {
  font-family: var(--fuente-mono);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 5px;
  color: var(--gris);
  margin-bottom: 40px;
  text-align: center;
}
.mini-etiqueta span {
  color: var(--amarillo);
  margin-right: 10px;
}
.fila-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.fila-inversa {
  flex-direction: row-reverse;
}
.columna-texto {
  flex: 1;
}
.columna-imagen {
  flex: 1;
  text-align: center;
}
.columna-imagen img {
  max-width: 100%;
  border: 1px solid var(--borde);
  border-radius: 4px;
}
.separador-amarillo {
  border: 0;
  border-top: 1px solid var(--borde);
  width: 70%;
  margin: 0 auto;
}
.boton-cyber {
  display: inline-block;
  font-family: var(--fuente-mono);
  background-color: transparent;
  color: var(--amarillo);
  border: 1px solid var(--amarillo);
  padding: 12px 30px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 20px;
}
.boton-cyber:hover {
  background-color: var(--amarillo);
  color: var(--negro);
}
